* {
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  top: 0;
  width: 100%;
  height: 100%;
}

.dark {
  background: #1f1f1f;
  color: #fff;
}
.dark #header_area {
  background: #1f1f1f;
  color: #fff;
}

.light {
  background: #fff;
  color: #333;
}

#about_div {
  padding: 0;
  margin: 0;
  top: 100px;
  width: 100%;
  min-height: calc(100vh - 8.5rem);
  position: relative;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* align-content: center; */
}
#contentsbox {
  width: 400px;
  height: 350px;
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-img {
  width: 100%;
  height: 300px;
}
.swiper-pagination {
  position: relative;
  margin-bottom: 10px;
}
