#about_p {
  color: red;
}

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  top: 100px;
}

.dark {
  background: #1f1f1f;
  color: #fff;
}
.dark #header_area {
  background: #1f1f1f;
  color: #fff;
}

.light {
  background: #fff;
  color: #333;
}

#about_div {
  text-align: center;
  padding: 0;
  margin: 0;
}

.a_img {
  width: 650px;
  height: 350px;
}
