* {
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  top: 0;
  width: 100%;
  height: 100%;
}

.dark {
  background: #1f1f1f;
  color: #fff;
}
.dark #header_area {
  background: #1f1f1f;
  color: #fff;
}

.light {
  background: #fff;
  color: #333;
}
footer {
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 0;
}

#about_div {
  top: 100px;
  width: 100%;
  /* min-height: calc(100vh - 8.5rem); */
  position: relative;
  padding-bottom: 100px;
  display: inline-block;
  text-align: -webkit-center;
}
#contentsbox {
  width: 400px;
  height: 350px;
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-img {
  width: 100%;
  height: 300px;
}
.swiper-pagination {
  position: relative;
  margin-bottom: 10px;
}

#contents {
  background-color: bisque;
  width: 800px;
  height: 500px;
  margin-bottom: 30px;
}
.progress_btn {
  width: 100px;
  height: 30px;
}
.initiate_btn {
  width: 100px;
  height: 30px;
}
.progress-bar {
  background-color: #09b864;
  border-radius: 4px;
  box-shadow: inset 0 0.5em 0.5em rgba(0, 0, 0, 0.05);
  height: 5px;
  margin: 2rem 0 2rem 0;
  overflow: hidden;
  position: relative;
  transform: translateZ(0);
  width: 100%;
}

.progress-bar__bar {
  background-color: #ececec;
  box-shadow: inset 0 0.5em 0.5em rgba(94, 49, 49, 0.05);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.progress-bar__bar.active {
  transition: all 5000ms ease-out;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}
