* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  top: 100px;
}
.dark {
  background: #1f1f1f;
  color: #fff;
}
.dark #header_area {
  background: #1f1f1f;
  color: #fff;
}
.light {
  background: #fff;
  color: #333;
}

#network_div {
  /* text-align: center; */
  /* text-align: center; */
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  padding-bottom: 30px;
  /* top: 100px; */
}
#sec1 {
  opacity: 0;
}

#sec2 {
  /* opacity: 1; */
  /* transition: all 0.2s ease; */
}

#title {
  font-weight: 600;
  font-size: 60px;
}

img {
  height: 550px;
  width: 850px;
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes reverseRight {
  0% {
    opacity: 1;
    transform: translateZ(0);
  }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

#img3 {
  display: none;
  /* transform: translate3d(-100%, 0, 0); */
}

.add {
  /* opacity: 1;
  transform: translateZ(0); */
  animation: fadeInRight 1.3s;
}

.remove {
  animation: reverseRight 1.3s;
  display: none;
}

#p3 {
  animation: fadeInRight 1.3s;
}

.active #img3 {
  animation: fadeInLeft 1.3s;
}
